* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Roboto', sans-serif;
}
/* fine common */

/* inizio main  */
.contenitore-main {
    width: 100%;
    height: 90vh;
}
/* fine main  */

/* inizio footer */
.contenitore-footer {
    width: 100%;
    height: 10vh;
}
/* fine footer  */

/* debug */
.debug .contenitore-main {
    background-color: black;
}
.debug .contenitore-footer {
    background-color: red;
}


/* fine debug  */