* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Roboto', sans-serif;
}
.flex {
    display: flex;
}
/* fine common */

/* inizio main  */
.contenitore-main {
    position: relative;
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}
.contenitore-freccia-sx, 
.contenitore-freccia-dx {
    width: 5%;
    text-align: center;
    color: white;
}
.contenitore-freccia-dx i {
    font-size: 50px;
    color: rgb(0, 85, 255);

}
.contenitore-freccia-sx i {
    font-size: 50px;
    color: rgb(127, 127, 127);

}
/* contenitore utenti  */
.box-utente img {
    width: auto;
    height: 100%;
}
.box-utente {
    text-align: center;
    background-color: white;
}
/* fine contenitore utenti */

.contenitore-btn-top-dx {
    position: absolute;
    top: 0;
    right: 0;
}
/* fine main  */

/* inizio footer */
.contenitore-footer {
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    color: white;
    background-color: rgb(33, 35, 36);
}
.nav-sx,
.nav-dx {
    width: 15%;
    height: 100%;
    
}
.nav-centrale {
    width: 60%;
    height: 100%;
 
}
.nav-sx {
    justify-content: flex-start;
    align-items: center;
}
.nav-centrale{
    justify-content: space-between;
    align-items: center;
}
.link {
    text-align: center;
    padding: 5px;
}
.contenitore-footer i {
    font-size: 25px;
}
#partecipanti {
    font-size: 12px;
    vertical-align: top;
    padding: 5px;
}
#green {
    color: springgreen;
}
.bottone-foot {
    width: 80%;
    height: 100%;
    text-align: center;
    color: red;
    background-color: gray;
    line-height: 10vh;
    float: right;
}


/* fine footer  */

/* debug */
.debug .contenitore-main {
    background-color: black;
}
/* .debug .contenitore-freccia-sx,
.debug .contenitore-freccia-dx {
    width: 5%;
    height: 20%;
    background-color: darkgreen;
} */
.debug .contenitore-utenti {
    width: 90%;
    height: 90%;
    background-color: darkgrey;
}
/* .debug .contenitore-footer {
    background-color: red;
} */
.debug .contenitore-btn-top-dx {
    width: 15%;
    height: 5%;
    background-color: darkseagreen;
}
/* .debug .nav-sx,
.debug .nav-dx {
    width: 15%;
    height: 100%;
    background-color: blueviolet;
}
.debug .nav-centrale {
    width: 60%;
    height: 100%;
    background-color: cornflowerblue;
} */
.debug .box-utente {
    width: calc(100% / 5);
    height: calc(100% / 5);
    border: 2px solid red;
}


/* fine debug  */