* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Roboto', sans-serif;
}
/* fine common */

/* inizio main  */
/* fine main  */

/* inizio footer */
/* fine footer  */

/* debug */
/* fine debug  */